{% extends 'layout/manage.html' %}
{% load static %}

{% block title %}wiki{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/manage.css' %}">
    <style>
    .panel-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
        .panel-body {
            padding: 0;
        }

        .title-list {
            border-right: 1px solid #dddddd;
            min-height: 500px;
        }

        .content {
            border-left: 1px solid #dddddd;
            min-height: 600px;
            margin-left: -1px;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="panel panel-default">
         <div class="panel-heading" style="display: flex; align-items: center; justify-content: space-between;">
            <h3 class="panel-title"><i class="fa fa-book"></i> wiki文档</h3>
            <div class="function">
                <a type="button" class="btn btn-success btn-xs"
                   href="{% url 'wiki_add' project_id=request.tracer.project.id %}">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> 新建
                </a>
            </div>
        </div>

        <div class="function">
            <a type="button" class="btn btn-success btn-xs" href="{% url 'wiki_add' project_id=request.tracer.project.id %}">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> 新建
            </a>
        </div>
        <div class="panel-body">
            <div class="col-sm-3 title-list">
                <div>目录</div>
            </div>
            <div class="col-sm-9 content">
                <form method="post">
                    {% csrf_token %}
                    {% for filed in form %}
                        <div class="form-group">
                        <label for="{{ filed.id_for_label }}">{{ filed.label }}</label>
                        {{ filed }}
                        <span class="error-msg">{{ filed.errors.0 }}</span>
                        </div>
                    {% endfor %}

                <button type="submit" class="btn btn-default">提交</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

{% endblock %}