<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>


 bindCreateInviteCode();
            bindCopyUrl();




        function bindCopyUrl(){
            $('#btnCopyUrl').click(function (){
                var textInput=$('#inviteUrl')[0];
                textInput.select();

                document.execCommand("Copy");
                alert('复制成功');
            })
        }




        function bindCreateInviteCode(){
            $('#btnGenInviteCode').click(function (){
                $('.error-msg').empty();
                $.ajax({
                    url: INVITE_URL,
                    type: 'POST',
                    data: $('#inviteForm').serialize(),
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            $('#inviteArea').removeClass('hide').find('#inviteUrl').val(res.data);
                        } else {
                            $.each(res.error, function (k, v) {
                                $("#id_" + k).next('.error-msg').text(v[0]);
                            })
                        }
                    }
                })
            })
        }





  <div class="modal fade in" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">邀请成员</h4>
                </div>
                <div class="modal-body">
                    <form id="inviteForm">
                        {% csrf_token %}
                        {% for item in invite_form %}
                        <div class="form-group">
                            <label for="{{ item.id_for_label }}">{{ item.label }}</label>
                            <span>{% if item.help_text %}({{ item.help_text }}){% endif %}</span>
                        {{ item }}
                        <span class="error-msg"></span>
                        </div>
                        {% endfor %}
                    <button type="button" class="btn btn-success" id="btnGenInviteCode">生成邀请码</button>
                    </form>
                <div id="inviteArea" class="hide">
                    <hr/>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <input type="button" value="邀请链接" class="btn btn-default">
                            </div>
                            <input type="text" class="form-control" id="inviteUrl">
                            <div class="input-group-btn">
                                <input type="button" value="复制链接" class="btn btn-primary" id="btnCopyUrl">
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>




<a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#inviteModal">邀请成员</a>




http://localhost:8000//invite/join/4236DCD502546CFC4834



http://localhost:8000//invite/join/423674435D1A8BCE4A9C
